.Wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  .Details {
    margin: 20px auto;
    width: 500px;
    text-align: center;
    padding: 10px;
    background: #646464;
    border-radius: 15px;
    box-sizing: border-box;
    color: whitesmoke;

    h3 {
      height: 20px;
    }
  }
}

@media (max-width: 600px) {
  .Wrapper {
    .Details {
      width: 100%;
    }
  }
}