.Main {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.err {
  color: whitesmoke;
}

.MovePopUp {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  transform: translate(0, -250px)
}