# general
node_modules
.DS_Store

########################################## referance-app

# dependencies
react/reference/node_modules
react/reference/.pnp
react/reference/.pnp.js
react/reference/node_modules
react/reference/.pnp
react/reference/.pnp.js

# testing
react/reference/coverage

# production
react/reference/build

# misc
react/reference/.DS_Store
react/reference/.env.local
react/reference/.env.development.local
react/reference/.env.test.local
react/reference/.env.production.local

react/reference/npm-debug.log*
react/reference/yarn-debug.log*
react/reference/yarn-error.log*

########################################## burger-builder

# dependencies
react/burger-builder/node_modules
react/burger-builder/.pnp
react/burger-builder/.pnp.js
react/burger-builder/node_modules
react/burger-builder/.pnp
react/burger-builder/.pnp.js

# testing
react/burger-builder/coverage

# production
react/burger-builder/build

# misc
react/burger-builder/.DS_Store
react/burger-builder/.env.local
react/burger-builder/.env.development.local
react/burger-builder/.env.test.local
react/burger-builder/.env.production.local

react/burger-builder/npm-debug.log*
react/burger-builder/yarn-debug.log*
react/burger-builder/yarn-error.log*

########################################## http-ajax-cra

# dependencies
react/http-ajax/node_modules
react/http-ajax/.pnp
react/http-ajax/.pnp.js
react/http-ajax/node_modules
react/http-ajax/.pnp
react/http-ajax/.pnp.js

# testing
react/http-ajax/coverage

# production
react/http-ajax/build

# misc
react/http-ajax/.DS_Store
react/http-ajax/.env.local
react/http-ajax/.env.development.local
react/http-ajax/.env.test.local
react/http-ajax/.env.production.local

react/http-ajax/npm-debug.log*
react/http-ajax/yarn-debug.log*
react/http-ajax/yarn-error.log*

########################################## lazy-loading

# dependencies
react/lazy-loading-react-suspense/node_modules
react/lazy-loading-react-suspense/.pnp
react/lazy-loading-react-suspense/.pnp.js
react/lazy-loading-react-suspense/node_modules
react/lazy-loading-react-suspense/.pnp
react/lazy-loading-react-suspense/.pnp.js

# testing
react/lazy-loading-react-suspense/coverage

# production
react/lazy-loading-react-suspense/build

# misc
react/lazy-loading-react-suspense/.DS_Store
react/lazy-loading-react-suspense/.env.local
react/lazy-loading-react-suspense/.env.development.local
react/lazy-loading-react-suspense/.env.test.local
react/lazy-loading-react-suspense/.env.production.local

react/lazy-loading-react-suspense/npm-debug.log*
react/lazy-loading-react-suspense/yarn-debug.log*
react/lazy-loading-react-suspense/yarn-error.log*