.Toolbar {
  height: 5vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #703B09;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7px;
  box-sizing: border-box;
  z-index: 90;

  nav {
    height: 100%;
  }
}

.Logo {
  height: 80%;
  padding-right: 10px;
}

.Flex {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .Username {
    li {
      cursor: default;
      &:hover {
        background-color: none;
        border-bottom: 0px solid #40A4C8;
        color: white;
      }
      a {
        cursor: default;
        display: fixed;
      }
    }
  }
}

.MenuLinkHide {
  display: none;
  height: 100%;
}

@media (max-width: 650px) {
  .Username {
    display: none;
  }
}

@media (max-width: 499px) {
  .MenuLinkHide {
    display: block;
  }

  .Toolbar {
    height: 7vh;
  }

  .Desktop {
    display: none;
  }
}