.Toolbar {
  height: 5vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #703B09;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7px;
  box-sizing: border-box;
  z-index: 90;

  nav {
    height: 100%;
  }
}

.Logo {
  height: 80%;
  padding-right: 10px;
}

.Flex {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.MenuLinkHide {
  display: none;
  height: 100%;
}

@media (max-width: 499px) {
  .MenuLinkHide {
    display: block;
  }

  .Toolbar {
    height: 7vh;
  }

  .Desktop {
    display: none;
  }
}