.person {
  width: 300px;
  height: 75px;
  margin: 20px auto;
  color: #e4f1fe;
  background: #34495e;
  box-shadow: 0 2px 2px #34495e;
  text-align: center;

  input {
    background: #e4f1fe;
    text-align: center;
    margin-top: 12.5px;
  }

  h4 {
    transform: translate(0, -5px);
  }
}