.MenuLink {
  margin: 0;
  display: flex;
  height: 100%;
  width: auto;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;

  a {
    color: whitesmoke;
    height: 20px;
    padding: 0 10px;
    display: block;
    box-sizing: border-box;
    border-bottom: 4px solid transparent;
  }

  &:hover, &:active, &.active {
    background-color: #8F5C2C;
    border-bottom: 4px solid #40A4C8;
    color: white;
  }
}