button {
  background: #d91e18;
  border: none;
  width: 120px;
  height: 30px;
  margin-bottom: 25px;
  cursor: pointer;

  h3 {
    height: 20px;
    transform: translate(0, -8px);
  }
}

.buttonColour {
  background: #26c281;
}