h1 {
  margin: 0 0 30px;
}

button {
  background: #d91e18;
  border: none;
  width: 120px;
  height: 30px;
  margin-bottom: 25px;
  cursor: pointer;

  h3 {
    height: 20px;
    transform: translate(0, -8px);
  }
}

.notLoggedIn {
  background: #d91e18;
}

.buttonColour {
  background: #26c281;
}

.login {
  background: #26c281;
}