.Button {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
  font-size: 1.2em;

  &:first-of-type {
    margin-left: 0;
    padding-left: 0;
  }

  &:disabled {
    cursor: not-allowed;
    color: #ccc;
  }
}

.Success {
  color: #5C9210;
}

.Danger {
  color: #944317;
}